/*********************************************************
* APP - Projet Système Numérique - Composante Informatique
* ISEP - A1 - G7C
* Semestre 2
* Auteur : - MAILLEY_Charles 
           - MAIZA_Fares
           - MARTINEZ_Eliot
           - PAVIOT-ADET_Flore
           - SPASOJEVIC_Fanny
           - VINGADASSAMY_Prasanaa
* Date de rendu  : 05/06/2023

Style pour la page index
*********************************************************/


/***************-----*************** GENERAL ***************-----***************/

* { /* Settings general de la page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins"; /*Ne fonctionne pas avec le fichier en local*/
    /* Couleur de la chartre graphique */
    --myColor-main-base: #211265;
    --myColor-main-light: #6C37EE;
    --myColor-main-dack: #0A0949;
    --myColor-buttonLogin: #F6593E;
    --myColor-3-1: #56E5FB;
    --myColor-2-2: #18A7F9;
    /* Other color */
    --myColor-fontColor-main: #fff;
}



/***************-----*************** TOP PAGE ***************-----***************/



.top {
    /* Mettre les éléments en ligne*/
    display: flex;
    align-items: center;
    /* Ajouter un espace vide en haut et en bas de cette élément*/
    margin-top: 50px;
    margin-bottom: 225px;
}

.top_title {
    /*Prend toute la moitié gauche de l'ecran*/
    width: 50%;
    /*Ajout un trait de bordure avec l'élément de droite*/
    border-right: 1px solid var(--myColor-fontColor-main);
}

.top_title a { /*Transforme le lien en un bouton*/
    /*Couleur de fond et de texte sans surlignement*/
    background-color: var(--myColor-buttonLogin);
    color: var(--myColor-fontColor-main);
    text-decoration: none;
    /*Angle des coins du rectangle*/
    border-radius: 10px;
    /*Espacement dans le rectangle*/
    padding-inline: 20px;
    padding-block: 10px;
    font-weight:lighter;
}
.top_title a:hover {background-color: #2779BF;}

.top_title h2 {
    /*Espace entre titre et les éléments en haut et en base*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*Epaisseur du texte*/
    font-weight:500;
}

.top_title color {
    background: linear-gradient(to right, #6C37EE,#F6593E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}




.top_Zoneavis {
    /*Prend toute la moitié droite de l'ecran*/
    width: 50%;
    padding-inline: 12%;
}



.top_avis div {
    margin-top: 25px;
    /*Aligner les boites horizontalement et les centre*/
    display: flex;
    align-items: center;
}

.top_avis div img{
    border-radius: 30px;
    border: 2px solid var(--myColor-fontColor-main);
    /*Taille de l'image*/
    max-width: 15%;
}

.top_avis div autor{
    font-size: 11px;
    font-style: italic;
    /*Espacement <-->*/
    margin-left: 10px;
    margin-right: 50px;
}

.top_nextAvis {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    
}

.top_nextAvis cran i {font-size: 8px;}

.top_nextAvis a {
    /*Déplace le bouton flèche en dehors de son cadre en haut*/
    position: relative;
    top: -50px;
}
.top_nextAvis a i {
    font-size: 40px;
    color:var(--myColor-main-light);
    background-color:#fff;
    border-radius: 100%;
}

.top_nextAvis #c1 {
    color:var(--myColor-buttonLogin);
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.bottom_presProd {
    width: 50%;
}

.bottom #OurProduct {
    display: inline-block;
    font-weight:100;
    border-bottom: 3px solid var(--myColor-fontColor-main);
}

.bottom_presProd p {
    margin-top:25px;
}

.bottom_imgProd {
    height: 300px;
    margin-right: 200px;
}