
table {
    background-color: aqua;
    width: 95%;
    text-align: center;
}

tr {
    background-color: rebeccapurple; 
}

td {
    background-color: rosybrown;
}

question {
background-color: royalblue;
}

td:a responce  {
    background-color: royalblue;
    display: inline-block;
}


responce {
background-color: forestgreen;
display: none;
}
