.main {
    text-align: center;
    margin-bottom: -6.5rem;
}

.buttonMain {
    width: 100%;
}

.buttonMain td {
    padding-block: 3%;
  }

.buttonMain td a {
    background-color: #423EF6;
    border-radius: 2rem;
    padding-block: 0.5%;
    padding-inline: 4%;
    color: var(--myColor-fontColor-main);
    text-decoration: none;
}

 .title color {
    color: #6C37EE;
}
