/*********************************************************
* APP - Projet Système Numérique - Composante Informatique
* ISEP - A1 - G7C
* Semestre 2
* Auteur : - MAILLEY_Charles 
           - MAIZA_Fares
           - MARTINEZ_Eliot
           - PAVIOT-ADET_Flore
           - SPASOJEVIC_Fanny
           - VINGADASSAMY_Prasanaa
* Date de rendu  : 05/06/2023

Style pour la page Equipe
*********************************************************/

main {text-align: center;}


.title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

#dégradé {
    background-image: linear-gradient(to right, #6C37EE 40%, #F6593E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.mailSpace p {
    font-weight: 500;
    font-size: 20px;
    color: #89EDFB;
    margin-bottom: 1%;
    margin-top: 2%;
 }

 .mailSpace textarea {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 72px;
    color: white;
    width: 50%;
    min-width: 20%;
    max-width: 90%;
    padding-left: 2%;
    padding-top: 1%;
    min-height: 2.5rem;
    max-height: 10rem;
 }

 .mailSpace textarea:last-of-type {
    min-height: 10rem;
    max-height: 30rem;
 }


.buttons {margin-top: 2%;}

 .buttons a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 0.5em 1.5em;
    border-radius: 50px;
}
 
 .buttons a:first-of-type {background: #F6593E;margin-right: 2%;}
 .buttons a:last-of-type {background: #423EF6;margin-left: 2%;}




