html{
  background-image: url(../../img/background_login.svg);
  background-color:#211265;
  background-repeat: no-repeat;
  background-size: 200% 200%;
}

body{
  display: flex;
  height: 100%;
}

.main_login{
  margin: 0;
  width: 50%;
  height: 100vh;
}

.login-page{
  height: 100%;
  background-color: white;

}

.logo_text{
  margin-top: 15%;
  margin-left: 15%;
  width: 30%;
  margin-right: 50%;
}

#se_connecter_title{
  margin-top: 8%;
  margin-bottom: 8%;
  margin-left:15%;
  color: #391E87;
  font-size: 160%;
  display: inline-block;
}

.login-form{
  background-color: white;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  border-radius: 8px;
}

.desc_login{
  font-size: 14px;
  color: #391E87;
  margin-left: 5px;
  font-weight: 500;
}

#nom, #mdp {
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  padding-left: 4%;
}

#btn_connection{
  height:50px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;
  background: #F6593E;
  border-radius: 15px;
}

#btn_connection{
  height:50px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;
  background: #F6593E;
  border-radius: 8px;
}

.message{
  text-align: center;
  margin-top: 30px;
  color: #391E87; 
}

#droite_login{
  width: 50%;
  background-image: url(../../img/background_login.svg);
  background-repeat: no-repeat;
  background-size: 100% 110%;
}

#message_droite{
  font-size: 40px;
  text-align:center;
  margin-top: 30%;
  color: #391E87;
  font-weight: 600;
  text-decoration: none;
}

#mdp_oublie{
  margin-top: 30px;
  margin-bottom: 40px;
  color: #211265;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

#achete{
  color: #211265;
}