#degrade {
    background-image: linear-gradient(to right, #6C37EE 40%, #F6593E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Conditions {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-block: 1%;
}



table {
    width: 95%;
    font-size: 69%;
    /* Espacement entre les lignes du tableau*/
    border-spacing: 0px 2.25rem;

}

tr {
    background-color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

}

td {
    padding-block: 1.5%;
    background-color: #F6593E;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    border-radius:2rem;
}

question {
    margin-left: 5%;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

}

td:hover response  {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    border-radius: 2rem;
}


response {
    color: black;
    display: none;
    margin-left: 7%;
    margin-right: 7%;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    margin-top: 10px;
    text-align: justify;
}
