
/*********************************************************
* APP - Projet Système Numérique - Composante Informatique
* ISEP - A1 - G7C
* Semestre 2
* Auteur : - MAILLEY_Charles 
           - MAIZA_Fares
           - MARTINEZ_Eliot
           - PAVIOT-ADET_Flore
           - SPASOJEVIC_Fanny
           - VINGADASSAMY_Prasanaa
* Date de rendu  : 05/06/2023

Style commun à toutes les pages
*********************************************************/

 


#violet { color: #6C37EE;}

#dégradé {
    background-image: linear-gradient(to right, #6C37EE 40%, #F6593E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Top part */

.equipe_texte {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    left: 50%;
}

.titre_equipe {
    margin: 20px;
    font-size: 35px;
}

.equipe {
    height: 284px;
    width: 413px;
    margin: 20px;
}

.paragraphe-equipe {
    text-decoration: justify;
    text-align: justify;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}





/* Table part */

.tableBox {
    margin: 0 auto;
    border-spacing: 100px;
}
.tableBox td {text-align: center;}

.imagemembre{
    width: 170px; 
    height: auto;
}

.link {
   font-size: 40px;
    top: 123%;
    text-decoration: none;
}

.tableBox i {color: blue;}

/* Bottom part */
  
.imageclient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
  
  

