h1{
    margin-left: 42.5%;
    color: white;
}

color{
    background: linear-gradient(to right, #6C37EE,#F6593E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

form{
    width: 100%;
}

img{
    float: left;
}

label, a{
    color : white;
    text-decoration: underline;
    cursor : pointer;
}

label{
    display: block;
    height : 1em;
    width : 25%;
    /*padding-top: 50%;*/
    padding-left: 2%;
}

.contenu{
    padding-top: 8%;
}

.grid_container {
    width : 70%;
    display: grid;
    grid-template-columns: 40% 5% 40%;
    padding-left: 7%;
}

input{
    width: 250px;
    align-content: center;
    border:none;
    border-bottom  : 2px solid lightgray;
    background-color:transparent;
    padding-left: 1%;
    margin-left: 3%;
    color: white;
}

input::placeholder, input[value]{
    text-align: center;
}


input:focus{
    outline : none;
    border-radius: 25px;
    border-bottom: 1px solid lightgray;
    /*background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);*/
}


elem{
    padding-bottom: 2%;
    background-color: hsla(120,100%,100%,0.17);
    border-radius: 25px;
    margin-top: 7%;
    display: inline;
}

.form_title{
    margin-left: 3%;
    display: inline;
}

info{
    font-size: 0.75em;
}

.hide{
    background-color: transparent;
}

button{
    border-radius: 25px;
    color: white;
    background-color: #423EF6;
    height: 5%;
    width : 10%;
}

.submit{
    margin-right: 50%;
    float: right;
}

.btnAbandon{
    float :right;
    margin-right: 50%;
}

.modifMdp{
    float : right;
    margin-top: 2%;
}

