h1{
    margin-left: 42.5%;
    color: white;
}

color{
    background: linear-gradient(to right, #6C37EE,#F6593E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

form{
    width: 100%;
}

img{
    float: left;
}

label, a{
    color : white;
    text-decoration: underline;
    cursor : pointer;
}

label{
    padding-top: 50%;
    padding-left: 2%;
}

.contenu{
    padding-top: 8%;
}

.grid_container {
    width : 70%;
    display: grid;
    grid-template-columns: 40% 5% 40%;
    padding-left: 7%;
}

input{
    width: 250px;
    border-radius: 25px;
    background-color: transparent;
    padding-left: 1%;
    margin-left: 3%;
    color: white;
}

elem{
    background-color: hsla(120,100%,100%,0.17);
    border-radius: 25px;
    margin-top: 7%;
    display: inline;
}

h3{
    margin-left: 3%;
    display: inline;
}

info{
    font-size: 0.75em;
}

.hide{
    background-color: transparent;
}

button{
    border-radius: 25px;
    color: white;
    background-color: #423EF6;
    height: 5%;
    width : 10%;
    float: right;
}

a{
    float : right;
    margin-top: 7%;
}

