
h1{
    margin-top: 5%;
    margin-left: 42.5%;
    color: white;
}

color{
    background: linear-gradient(to right, #6C37EE,#F6593E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

img{
    float: left;
    width: 15%;
}

/*.filter_color{
    filter: invert(100%) sepia(36%) saturate(0%) hue-rotate(243deg) brightness(103%) contrast(101%);
}*/

.contenu{
    padding-top: 5%;
    box-sizing: border-box;
    color: white;
    font-family: "poppins";
}

.grid_container {
    width : 85%;
    display: grid;
    grid-template-columns: 40% 10% 40%;
    padding-left: 5%;
}

/*elem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}*/

.infos{
    padding-left: 3%;
    background-color: hsla(120,100%,100%,0.17);
    border-radius: 2rem;
    margin-top: 4%;
}

info{
    font-size: 0.75em;
}

.hide{
    background-color: transparent;
}

button{
    border-radius: 2rem;
    color: white;
    background-color: #423EF6;
    width : 10%;
    padding-block: 0.5em;
    margin-right: 2.5%;
    float: right;

}

.bxs-user-rectangle{
    width : 300px;
    height: 300px;
}


/* Pour téléphones */
@media only screen and (max-width: 700px) {
    h1{
        margin-left: 0;
        padding-left: 40%;
    }
    .grid_container {
        width : 75%;
        display: grid;
        grid-template-columns: 100%;
        padding-left: 25%;
    }

    img{
        width: 75%;
        height : auto;
        display: block;
        margin : auto;
        padding-left: 25%;
        padding-bottom: 5%;
    }
    
    button{
        width : 30%;
        margin-top : 7%;
    }
}