<!--******************************************************
* APP - Projet Système Numérique - Composante Informatique
* ISEP - A1 - G7C
* Semestre 2
* Auteur : - MAILLEY_Charles 
           - MAIZA_Fares
           - MARTINEZ_Eliot
           - PAVIOT-ADET_Flore
           - SPASOJEVIC_Fanny
           - VINGADASSAMY_Prasanaa
* Date de rendu  : 05/06/2023
********************************************************-->


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../../Ressources/css/viewer/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <!-- background : <link rel="stylesheet" href="../../../Ressources/css/allPage.css" /> -->
    </head>
    <body>
        <div class="barre-verticale"></div>
        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <input type="text" placeholder="Nom d'utilisateur"/>
                <input type="password" placeholder="Mot de passe"/>
                <button> 
                  <a href="../../controller/user/main.php">fastConn</a> <!-- A supprimer quand le button sera ok -->
                  Se connecter 
                </button>
                <p class="message">Pas encore de compte ? <a href="../error.php">Créer un compte</a></p>
              </form>
            </div>
          </div>
    </body>
</html>