<!--******************************************************
* APP - Projet Système Numérique - Composante Informatique
* ISEP - A1 - G7C
* Semestre 2
* Auteur : - MAILLEY_Charles 
           - MAIZA_Fares
           - MARTINEZ_Eliot
           - PAVIOT-ADET_Flore
           - SPASOJEVIC_Fanny
           - VINGADASSAMY_Prasanaa
* Date de rendu  : 05/06/2023
********************************************************-->

<meta charset="utf-8">

<!--  Logo du site web -->
<link rel="icon" type="image/x-icon" href="Ressources/img/Logo_Appea-color.svg">

<!--  Style de base -->
<link rel="stylesheet" href="Ressources/css/allPage.css" />

<!--  Icon List -->
<link href="Ressources/bitmap/boxicons/css/boxicons.min.css" rel="stylesheet">


<!--  Ne fonctionne pas dans un fichier CSS -->
<style> /* Ne fonctionne pas dans un fichier CSS*/
    @font-face {
        font-family: 'poppins'; 
        src: url("Ressources/font/Poppins/Poppins-Medium.ttf")}
</style>

<!--  Importation du font par internet (ne fonctionne pas si pas de réseau) -->
<!--<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">-->